@model BookReview.Models.TemplateModels.BookBox

<li class="span3">
    <a href="@Url.Content(string.Format("~/Book/BookDetail?id={0}", Model.Id))" class="thumbnail">
        <img src="~/Content/books/@(Model.Id).jpg" /></a>
</li>
