@model BookReview.Models.TemplateModels.BookCommentTemplateModel

<dt>@(Model.CreaterId == null ? "None" : Model.CreaterId.ToString())</dt>
<div class="rateit" data-rateit-value="@Model.Rating" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
<dd>
    @Html.DisplayFor(m => m.CreateDate)
    @Html.DisplayFor(m => m.Content)
</dd>
