@model BookReview.Models.ViewModels.MemberIndex
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.DisplayFor(m => m.MemberInfomation.UserName)
@Html.DisplayFor(m => m.MemberInfomation.Name)

@Html.DisplayFor(m => m.ListBookBookComment)


@*<div class="row">
        <div>1</div>
        <div>1</div>
        <div>1</div>
    </div>
    <div class="row">
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
    </div>
    <div class="row">
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
    </div>*@
