@model BookReview.Models.ViewModels.HomeIndex
@{
    ViewBag.Title = "aNobii";
}

@section head
{
}

<div class="row">
    <div class="span8">
        <h1>輪播/名人好評/排行榜</h1>
    </div>
    <div class="span4">
        <h1>輪播/廣告/收藏最多</h1>
    </div>
</div>
<!-- search -->
<div class="row">
    <div class="span8">
        搜尋：<input type="text" class="input-medium search-query" />
        <button class="btn">搜尋</button>
        <h1>分類</h1>
    </div>
    <div class="span4">
        <h1>輪播/粉絲團</h1>
    </div>
</div>

<div class="row">
    <div class="span8">
        <ul>
            @Html.DisplayFor(m => m.listBookBox)
        </ul>
    </div>
    <div class="span4">
        <h1>輪播/廣告/收藏最多</h1>
    </div>
</div>

@section scripts
{
}